* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.illumina:hover,
.nav-list-1 li:hover,
.top-bar li:hover{
    color: white;
    cursor: pointer;
}

.underline:hover{
    text-decoration: underline;
}

.img-logo{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-logo-piccolo{
    width: 23px;
    display: none;
}

.nav-bar {
    width: 200px;
    background-color: hsl(0deg 0% 0%);
    position: relative;
}

.fa-spotify{
    color: white;
}

.title-spoti{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 40px;
}

.cont-nav-list-1{
    padding: 0 15px;
}

.cont-nav-list-2{
    width: 90%;
    padding: 0 15px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

hr {
    border: 1;
    width: 100%;
    color: hsl(0deg 0% 43.53%);
}

.nav-list-1 li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lol{
    font-size: 1.2em;
}

.img-nav{
    width: 25px;
}

.img-nav2{
    width: 15px;
}

.nav-list-1{
    list-style: none;
    color: hsl(222.86deg 2.83% 48.43%);
    font-size: 0.8em;
    line-height: 30px;
    margin-bottom: 15px;
    
}

.bot-nav{
    color: hsl(222.86deg 2.83% 48.43%);
    font-size: 0.8em;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.bot-nav-profile{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 0.9em;
    margin-top: 10px;
}

h3,h4{
    color: white;
}

img {
   width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;

    /* debug */
    border: 2px solid black;
}

h2 {
    color: white;
}

p {
    color: hsl(220deg 4.35% 40.59%);
    margin-top: 10px;
}

.cont {
    width: 98%;
    padding-top: 20px;
    margin: 0 auto;
}

.main-cont {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}


.screen {
    width: calc(100% - 200px);
    overflow: auto;

    background-color: hsl(218.57deg 25.93% 10.59%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    height: 90px;
    background-color: hsl(222deg 38.46% 5.1%);
}

.top-bar{
    padding-top: 20px;
    list-style: none;
    color: hsl(222.86deg 2.83% 48.43%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
    font-size: 0.8em;
}

.upgrade {
    display: inline-block;
    color: white;
    border: 2px white solid;
    padding: 7px 35px;
    border-radius: 50px;
    background-color: hsl(222deg 38.46% 5.1%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.col {
    width: calc((100% - 50px) / 6);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col2 {
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
}

.image1 {
    opacity: 1;
}

.image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.img-container:hover .image2 {
    z-index: 0;
}

.img-container:hover .image1{
    /* filter: blur(10px); 
    -webkit-filter: blur(10px); */
    /* background-color: #FFFFFF44;
    backdrop-filter: blur(8px); */
    opacity: 0.5;
}

.song-title {
    color: white;
    padding: 3px 0;
    line-height: 10px;
    font-size: 0.7em;
    display: inline-block;
}

.sub-title {
    color: hsl(222.86deg 2.83% 48.43%);
    font-size: 0.6em;
}

.circle{
    border-radius: 50%;
}

.footer {
    height: 80px;

    background-color: hsl(0deg 0% 15.69%);
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    bottom: 0;
    width: 100%;
}

.song-info {
    display: flex;
    align-items: center;
}

.album-cover {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.song-details {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.song-title {
    font-size: 0.8em;
    font-weight: bold;
}

.artist-name {
    font-size: 0.6em;
    color: #ccc;
}

.like-folder{
    display: flex;
    padding-left: 20px;
    gap: 20px;
}

.player-fun{
    width: 40%;
    
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.progress .current-time, .progress .duration {
    font-size: 0.6em;
    color: white;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    position: relative;
}

.progress-fill {
    width:25%;
    height: 100%;
    background-color: white;
    position: absolute;
}

.extra-controls {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.volume{
    width: 100px;
}

.extra-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 878px) {
    .nav-bar {
        width: 180px;
    }

    .col{
        width: calc((100% - 30px) / 4);
    }

    .screen {
        width: calc(100% - 180px);
    }

    .extra-controls{
        width: 180px;
    }

    .volume{
        width: 90px;
    }
}

@media screen and (max-width: 639px) {
    .col{
        width: calc((100% - 20px) / 2);
    }

    .screen {
        width: calc(100% - 130px);
    }

    .upgrade {
        font-size: 0.8rem;
        padding: 6px 25px;
    }

    .like-folder{
        flex-direction: column;
        gap:5px;
    }

    .extra-controls{
        width: 150px;
    }

    .volume{
        width: 70px;
    }
}

@media screen and (max-width: 552px) {
    .nav-bar {
        width: 50px;
    }

    .img-logo{
        display: none;
    }

    .img-logo-piccolo{
        display: flex;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .nav-list-1 li{
        padding: 10px 0;
    }

    .nascosto{
        display: none;
    }

    .screen {
        width: calc(100% - 50px);
    }
   
}

