* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.img-logo{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-logo-piccolo{
    width: 23px;
    display: none;
}

.nav-bar {
    width: 200px;
    background-color: hsl(0deg 0% 0%);
    position: relative;
}

.fa-spotify{
    color: white;
}

.title-spoti{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 40px;
}

.cont-nav-list-1{
    padding: 0 15px;
}

.cont-nav-list-2{
    width: 90%;
    padding: 0 15px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

hr {
    border: 1;
    width: 100%;
    color: hsl(0deg 0% 43.53%);
}

.nav-list-1 li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lol{
    font-size: 1.2em;
}

.img-nav{
    width: 25px;
}

.img-nav2{
    width: 15px;
}

.nav-list-1{
    list-style: none;
    color: hsl(222.86deg 2.83% 48.43%);
    font-size: 0.8em;
    line-height: 30px;
    margin-bottom: 15px;
    
}

.bot-nav{
    color: hsl(222.86deg 2.83% 48.43%);
    font-size: 0.8em;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.bot-nav-profile{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 0.9em;
    margin-top: 10px;
}

h3,h4{
    color: white;
}

img {
   width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;

    /* debug */
    border: 2px solid black;
}

h2 {
    color: white;
}

p {
    color: hsl(220deg 4.35% 40.59%);
    margin-top: 10px;
}

.cont {
    width: 98%;
    max-width: 1100px;
    padding-top: 20px;
    margin: 0 auto;
}

.main-cont {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}


.screen {
    width: calc(100% - 200px);
    overflow: auto;

    background-color: hsl(218.57deg 25.93% 10.59%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    height: 90px;
    background-color: hsl(222deg 38.46% 5.1%);
}

.top-bar{
    padding-top: 20px;
    list-style: none;
    color: hsl(222.86deg 2.83% 48.43%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
    font-size: 0.8em;
}

.upgrade {
    display: inline-block;
    color: white;
    border: 2px white solid;
    padding: 7px 35px;
    border-radius: 50px;
    background-color: hsl(222deg 38.46% 5.1%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.col {
    width: calc((100% - 50px) / 6);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col2 {
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.song-title {
    color: white;
    padding: 10px 0;
    line-height: 10px;
    font-size: 0.7em;
    display: inline-block;
}

.sub-title {
    color: hsl(222.86deg 2.83% 48.43%);
    font-size: 0.6em;
}

.footer {
    height: 80px;

    background-color: hsl(0deg 0% 15.69%);
}

@media screen and (max-width: 890px) {
    .nav-bar {
        width: 180px;
    }

    .col{
        width: calc((100% - 30px) / 4);
    }

    .screen {
        width: calc(100% - 180px);
    }
}

@media screen and (max-width: 640px) {
    .col{
        width: calc((100% - 20px) / 2);
    }

    .screen {
        width: calc(100% - 130px);
    }

    .upgrade {
        font-size: 0.8rem;
        padding: 6px 25px;
    }
}

@media screen and (max-width: 425px) {
    .nav-bar {
        width: 50px;
    }

    .img-logo{
        display: none;
    }

    .img-logo-piccolo{
        display: flex;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .nav-list-1 li{
        padding: 10px 0;
    }

    .nascosto{
        display: none;
    }

    .screen {
        width: calc(100% - 50px);
    }
}